<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="btn" onclick="history.back()">back</button>
    <table border="1">
        <tr>
            {% for header in headers %}
                <th> {{ header }}</th>
            {% endfor %}
        </tr>
        {% for u in user %}
        <tr> 
            {% for fieldname, value in u.items() %}
                <td> {{ value }} </td> 
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>