h1,h2,.image{
    text-align: center;
}

#calender{
    margin-left:auto;
    margin-right:auto;
    width: 80%;
    border: 10x solid;
    height: 200px
}

#calender td{
    text-align: center;
    vertical-align : top;
    height: 50px;
}

#calender th:first-child, #calender td:first-child{
    color: red;
}

#calender th:last-child, #calender td:last-child{
    color:rgb(58, 133, 38)
}