<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/css/cart.css"/>
</head>
<body>
    <div class="container">
        <div class="user">
            <h1 style="text-align: center;">{{user['name']}}님의 장바구니</h1>
            <button id = "logout" onclick="window.location='/logout';">로그아웃</button>
        </div>
        <table border="1">
            <tr>
                <th>상품 이미지</th>
                <th>상품명</th>
                <th>수량</th>
                <th>가격</th>
                <th>상품 삭제</th>
            </tr>
            {% for item_name,item_info in cart_items.items() %}
            <tr>
                <td><img src="{{url_for('static',filename='images/'+ item_info['image'])}}" width="100px"></td>
                <td>{{ item_info.name }}</td>
                <td>{{ item_info.quantity }}</td>
                <td>{{ item_info.price * item_info.quantity}}원</td>
                <td><a class="delete-button" href="{{url_for('remove_item_from_cart',item_name=item_name)}}">삭제</a></td>
            </tr>
            {% endfor %}
        </table>
        <p>총 가격: {{ total_price }}원</p>
        <div class="menu">
            <form action="{{url_for('clear_cart')}}" method="GET">
                <input type="submit" value="장바구니 비우기">    
            </form>
            <button id = "b" onclick="window.location='/user/cart';">계속 쇼핑하기</button>
        </div>
    </div>
</body>
</html>