<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/css/index.css">

</head>
<body>
    <button onclick="window.location='/login';">로그인</button>
    <h1>상품 목록</h1>
    <!-- 상품 목록 보여주기(테이블이든 리스트든) -->
    <div class="card-container">
        {% for item_name,item_info in items.items() %}
            <div class="card">
                <img src="{{url_for('static',filename='images/'+ item_info['image'])}}" width="100px" class="card-img-top">
                <h5 class="card-title">{{item_info['name'] }}</h5>
                <p class="card-text">{{item_info['price']}}원</p>
                {% if session['user'] %}
                    <a href="{{url_for('cart',item_name=item_name)}}" class="btn btn-primary">카트에 추가</a>
                {% elif not session['user'] %}
                    <a href='#'></a>
                {% endif %}    
            </div>        
        {% endfor %}
    </div>
</body>
</html>