<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/user_cart.css">
</head>
<body>
    <div class="show">
        <h1>환영합니다 {{user['name']}}님</h1>
        <a href="{{url_for('view_cart')}}">장바구니 ({{cart_count}}) </a>
    </div>
    <div class="card-container">
        {% for item_name,item_info in items.items() %}
            <div class="card">
                <img src="{{url_for('static',filename='images/'+ item_info['image'])}}" width="100px" class="card-img-top">
                <h5 class="card-title">{{item_info['name'] }}</h5>
                <p class="card-text">{{item_info['price']}}원</p>
                <a href="{{url_for('cart',item_name=item_name)}}" class="btn btn-primary">카트에 추가</a>
            </div>        
        {% endfor %}
    </div>
</body>
    
</html>